{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans 'My Courses' %} | {% trans 'Learning management system' %}{% endblock title %}
{% load static %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'My Courses' %}</li>
    </ol>
</nav>

{% comment %} Các thẻ extends, title, nav giữ nguyên {% endcomment %}

{% if request.user.is_student %}
    <div class="title-1">{{ student.program.title }}</div>
    {% if student.program.summary %}
        <p>{{ student.program.summary }}</p>
    {% endif %}
{% else %}
    <div class="title-1">{% trans 'My Courses' %}</div>
{% endif %}

{% include 'snippets/messages.html' %}

<!-- BẢNG DUY NHẤT CHO TẤT CẢ MỌI NGƯỜI -->
<div class="table-responsive p-3 mt-3">
    <div class="table-shadow">
        <table class="table table-light">
            <thead>
                <tr>
                    <th>#</th>
                    <th> {% trans 'Course Name' %} </th>
         {%comment%}<th> {% trans 'Course Code' %} </th>{% endcomment %}
                    {% if request.user.is_student %}
                        <th> {% trans 'Status' %} </th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for item in courses %}
                <tr>
                    <td>{{ forloop.counter }}.</td> 
                    
                    {% if request.user.is_student %}
                        <td><a href="{{ item.get_absolute_url }}">{{ item.course.title }}</a></td>
                        <td>{{ item.course.code }}</td>
                        <td class="success">
                            <i class="fas fa-check-circle"></i> {% trans 'Enrolled' %}
                        </td>
                    {% else %} {# Dành cho giảng viên #}
                        <td><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></td>
                        <td>{{ item.code }}</td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">{% trans 'No courses to display.' %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% if courses.paginator.page_range|length > 1 %}
<div class="content-center">
    <div class="pagination">
        <a href="?page=1">&laquo;</a>
        {% for i in courses.paginator.page_range %}
            {% if i == courses.number %}
                <a class="pagination-active" href="?page={{ i }}"><b>{{ i }}</b></a>
            {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}
        <a href="?page={{ courses.paginator.num_pages }}">&raquo;</a>
    </div>
</div>
{% endif %}

{% endblock content %}
