# Môi trường ảo của Python
/venv/
/.venv/

# Database SQLite
db.sqlite3
*.sqlite3

# Các file tạm của Python
__pycache__/
*.pyc

# Các file media mà người dùng tải lên (nếu có)
/media/

# Các file môi trường (chứa mật khẩu, API keys)
.env
*.env

note.txt