{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{% trans "Result of" %} {{ sitting.quiz.title }} {% trans "for" %} {{ sitting.user }} | {% trans 'Learning management system' %}
{% endblock %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
		<li class="breadcrumb-item"><a href="{% url 'quiz_marking' %}">{% trans 'Completed Exams' %}</a></li>
		<li class="breadcrumb-item active" aria-current="page">{% trans 'Marking' %}</li>
	</ol>
</nav>

<div class="row col-12 justify-content-between">
	<div class="header-title-md">{% trans "Quiz title" %}: {{ sitting.quiz.title }}</div>
	<em class="info-text title-danger">{% trans "Category" %}: {{ sitting.quiz.get_category_display }}</em>
</div>

<p>{{ sitting.quiz.description }}</p>
<hr>
<p><b>{% trans "User" %}:</b> {{ sitting.user }}</p>
<p><b>{% trans "Completed" %}:</b> {{ sitting.end|date }}</p>
<p><b>{% trans "Score" %}:</b> {{ sitting.get_percent_correct }}%</p>
<!-- <p><b>{% trans "Start" %}:</b> {{ sitting.start }}</p>
<p><b>{% trans "End" %}:</b> {{ sitting.end }}</p> -->

<table class="table table-bordered table-striped">

  <thead>
	<tr>
	  <th>{% trans "Question" %}</th>
	  <th>{% trans "User answer" %}</th>
	  <th>{% trans "Result" %}</th>
	</tr>
  </thead>

  <tbody>
	{# 
	Chúng ta sẽ lặp qua dictionary `questions_with_user_answers`.
	Dùng `.items` để lấy ra cả Key (câu hỏi) và Value (câu trả lời) cùng lúc.
	#}
	{% for question, user_answer in sitting.questions_with_user_answers.items %}

		<tr>
		<td>
			{{ question.content }}
			{% if question.figure %}
			<div style="max-width: 100px;"><img src="{{ question.figure.url }}" alt="{{ question.figure }}" width="100px"/></div>
			{% endif %}
		</td>

		{# BÂY GIỜ NÓ SẼ HOẠT ĐỘNG HOÀN HẢO #}
		<td>
			{# Hiển thị biến user_answer mà chúng ta đã lấy ra từ vòng lặp #}
			{{ user_answer }}
		</td>

		<td>
			{% if question.id in sitting.get_incorrect_questions %}
			<p class="text-danger">{% trans "incorrect" %}</p>
			{% else %}
			<p class="text-success">{% trans "Correct" %}</p>
			{% endif %}
		</td>
		</tr>

	{% endfor %}
	</tbody>

</table>
{% endblock %}
